html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    //transform: scaleX(-1);
    //filter: FlipH;
}

#camera--trigger{
    position: fixed;
    top: calc(100% - 90px);
    left: calc(100% - 92px);
    border-radius: 30px;
    border: none;
    padding: 5px 5px;
    background-color: white;
}

#camera--switch{
    position: fixed;
    top: calc(100% - 90px);
    left: calc(100% - 180px);
    border-radius: 30px;
    border: none;
    padding: 5px 5px;
    background-color: white;
}

.taken{
    height: 100px!important;
    width: 170px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

#brownbear--switch{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    position: fixed;
    top: calc(100% - 720px);
    right: 120px;
    z-index: 99;
    background-color: black;
}

#brownbear--overlay {
    position: fixed;
    bottom: -150;
    left: -150;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(brownbear.png);
    background-size: 500px 500px;
    visibility:hidden;
}

#caterpillar--switch{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    position: fixed;
    top: calc(100% - 720px);
    right: 30px;
    z-index: 99;
    background-color: black;
}

#caterpillar--overlay {
    position: fixed;
    bottom: -150;
    left: -150;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(caterpillar.png);
    background-size: 500px 500px;
    visibility:hidden;
}

#pigeon--switch{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    position: fixed;
    top: calc(100% - 590px);
    right: 30px;
    z-index: 99;
    background-color: black;
}

#pigeon--overlay {
    position: fixed;
    bottom: -150;
    left: -150;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(pigeon.png);
    background-size: 500px 500px;
    visibility:hidden;
}

#underpants--switch{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    position: fixed;
    top: calc(100% - 470px);
    right: 30px;
    z-index: 99;
    background-color: black;
}

#underpants--overlay {
    position: fixed;
    bottom: -150;
    left: -150;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(underpants.png);
    background-size: 500px 500px;
    visibility:hidden;
}

#knuffle--switch{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    position: fixed;
    top: calc(100% - 350px);
    right: 30px;
    z-index: 99;
    background-color: black;
}

#knuffle--overlay {
    position: fixed;
    bottom: -150;
    left: -150;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(knuffle.png);
    background-size: 500px 500px;
    visibility:hidden;
}

#mrbump--switch{
    width: 60px;
    height: 70px;
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    position: fixed;
    top: calc(100% - 230px);
    right: 30px;
    z-index: 99;
    background-color: yellow;
}

#mrbump--overlay {
    position: fixed;
    bottom: -150;
    left: -150;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(mrbump.png);
    background-size: 500px 500px;
}